
  /* .comparedoo-compare-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1200px; /* Keeps the component centered and not stretched to the edges */
  margin: 0 auto;
  padding: 20px;
  /* position: relative; */
  border: 3px solid red; */
/* } */

/* .compare-first-entity,
.compare-third-entity {
  position: relative;
  width: 27%; /* Adjust width as per your design */
} */

.compare-second-entity {
  width: 20%; /* Adjust width for the logo */
  text-align: center;
}

/* .compare-first-entity input,
.compare-third-entity input {
  width: 100%; /* Make input take up the full width of its container */
  padding: 18px;
  padding-right: 40px; /* Add space for the arrow */
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
  text-align: center;
} */

/* .dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  max-height: 200px;
  overflow-y: auto;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 4px;
  z-index: 1000;
} */

/* .dropdown-item {
  padding: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
}

.dropdown-item:hover {
  background-color: #007bff;
  color: #fff;
} */

.loading-message {
  position: absolute;
  text-align: center;
  top: 265px;
  color: rgb(49, 103, 77);
  font-size: 18px;
  z-index: 9999;
  animation: loading 1s ease-in-out infinite;
}

@keyframes loading {
  0% {
    color: #e9e9e9;
  }
  30% {
    color: #b89b84;
  }
  100% {
    color: #e9e9e9;
  }
}

/* Smooth transitions for input and dropdown */
.compare-first-entity,
.compare-third-entity {
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .comparedoo-compare-main {
    flex-direction: column;
  }

  .compare-first-entity,
  .compare-third-entity,
  .compare-second-entity {
    width: 100%;
    margin-bottom: 20px;
  }

  .compare-second-entity img {
    width: 200px;
  }
}
